<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Tabular View', reservations_path %></li>
  <li><%= link_to 'New Reservation', new_reservation_path %></li>
</ul>

<hr>
<div id='calendar'></div>